body {
    margin: 0;
    padding: 0;
    margin-bottom: 3em;
    font-family: Verdana, Arial, sans-serif;
    background-color: white;
}
img {
    border:0;
}
#header_holder {
    background-color: #004065;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}
#page_image {
    float: left;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 19px 0px 0px 0px;
}
/*
*/

#header_holder h1 {
    color: #FFFFFF;
    font-size: 150%;
    float: left;
/*
    width: 600px;
*/
    padding: 0px;
    margin: 20px 100px 0px 9px;
}

#logo_holder {
    float: right;
    width: 240px;
    color: #f0f0f0;
    margin: 13px 0 0 0;
    text-align: right;
    vertical-align: bottom;
}

#logo {
    margin-left: 20px;
}

#logo_holder span {
    display: block;
    margin-top: 23px;
    color: #A4C5EB;
}
#nav {
    background-color: #999999 ;
    font-size: 120%;
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
}

#nav ul {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
/*
    margin-left: 50px;
*/
}

#nav li {
    display: block;
    float: left;
    list-style: none;
    width: auto;
    font-size: 1em;
}

/*
#nav li.sub {
    float: right;
    width: auto;
}
*/

#nav li.selected {
    background-color: #dddddd;
}

#nav li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    float: left;
    width: auto;
    margin-top: 4px;
    padding: 3px 15px 3px;
    border-left: 1px solid #858585;
    border-right: 1px solid #A2A2A2;
}

#nav li.selected a {
    margin-top: 0px;
    padding: 7px 16px 3px;
    color: #000000 !important;
    background-color: #dddddd;
    border: none;
}

#nav li.selected a:hover {
}

#nav li a:hover {
    background-color: #76a1da;
}
.sub_holder {
/*
    width: 900px;
*/
    margin: 0 auto;
    padding-left: 3px;
}

div.function_center {
    float: left;
    margin: 10px;
}
div.functionbox {
    width: 45%;
    min-width: 30em;
    height: 24em;
    border: 1px solid #bbbbff;
    padding: 5px;
    overflow-y: auto;
}
div.functionbox_small {
    height: 14em;
}
div.function_right {
    width: 20em;
    min-width: 15em;
    float: right;
    margin: 3px;
    margin-right: -15px;
    clear: right;
    margin-left: 3px;
    height: 7em;
    overflow-y: hidden;
    overflow-x: hidden;
    border-bottom: 2px dashed #bbbbff;
}
div.function_right:hover {
    height: auto;
    width: 35%;
    min-width: 30em;
    border-bottom: 1px solid #bbbbff;
}

div.functionbox > h1 {
    font-size: 120%;
    margin-top: 0px;
    padding: 2px;
    background-color: #004065;
    color: white;
    text-align: center;
}

input.button {
    border-top:    1px solid #dddddd;
    border-left:   1px solid #dddddd;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
}

table.modules {
    background-color: #bbbbbb;
    border-spacing: 1px;
}
table.modules th {
    background-color: #dddddd;
    padding: 2px;
}
table.modules td {
    background-color: white;
    padding: 2px;
}

#content {
    margin: 0px;
    padding: 15px;
    float: left;
    width: 96%;
}

table.diff {                                                                                                         
    background-color: #bbbbbb;
    border-spacing: 1px;
}
table.diff td {
    background-color: #eeeeee;
    padding: 2px;
}
table.diff tr.invisible {
    display: none;
}
table.diff td.diff_added {
    background-color: #66ff66;
}
table.diff td.diff_none {
    color: #666666;
}
table.diff td.diff_removed {
    background-color: #ff6666;
}
table.diff td.diff_version {
}
table.diff tt.diff_version {
    background-color: #ff55ff;
}
div.legend {
    float: right;
}
span.corelist_info {
    margin: 1px;
    float: right;
    color: white;
}
span.corelist_info a {
    color: white;
}

#info {
    clear: both;
    width: 99%;
    background-color: #dddddd;
    padding: 5px;
    color: #404040;
}
#info a {
    color: #404040;
}
hr {
    border: 0px solid grey;
    border-top: 1px solid grey;
}
p.usage {
    color: #404040;
}
p.usage a {
    color: #404040;
}

div.externalsearch {
    border: 1px dotted grey;
    padding: 0.5em;
}
