---
version: 0.003
self: /corelist
# url to static files if corelist/htdocs is not your DocumentRoot
# set Alias /cl/ /path/to/corelist/htdocs/ in your webserver
static: /cl

# template directory
templates: /.../corelist/templates

# template file cache (recommened for multi process server)
cache_dir: /.../corelist/htc_cache

# set expire time for templates (for development)
template_expire: 3
# allow regex input for /corelist/version
allow_regex: 0
seo:
# which functions should be indexed and/or archived by search engines
# typically only the index page makes sense here
# if the url contains a querystring index and archive will be disabled
  index:
    - noindex
    - noarchive
