---
version: 0.002
self: /corelist
# url to static files if corelist/htdocs is not your DocumentRoot
# set Alias /cl/ /path/to/corelist/htdocs/ in your webserver
static: /cl
cache_dir: /.../corelist/htc_cache
templates: /.../corelist/templates
seo:
# which functions should be indexed and/or archived by search engines
# typically only the index page makes sense here
# if the url contains a querystring index and archive will be disabled
  index:
    - noindex
    - noarchive
