<h3>What is the perl corelist?</h3>
<p>
Every release of perl includes some commonly used modules, for example
CPAN, file system utilities like File::Spec, File::Find.
<br>The module <tt>Module::CoreList</tt> contains a database with a list of these
modules for every perl release.<br>
<tt>Module::CoreList</tt> itself is delivered with perl since version 5.8.9, and
it comes with a command line utility script <tt>corelist</tt>.
</p>
<p>
<h3>How can I use modules that are not in this list?</h3>
<p>
Distributions like ActivePerl or operating systems like Debian or RedHat
usually deliver some additional modules that are not in the corelist.
<br>
For Debian you can use the following website to check which module is
included in a Debian release and in which version:<br>
<ul>
    <li><a href="http://deb.perl.it/debian/cpan-deb/">Debian</a>
    <i>(Note that this website needs JavaScript.)</i></li>
    <li>Windows
    <ul>
        <li><a href="http://code.activestate.com/ppm/">ActivePerl</a></li>
    </ul>
    </ul>
    </li>
</ul>

</p>
<p>
Any other module you can install with tools like cpan, cpanplus or ppm.
See <a href="http://perldoc.perl.org/perlmodinstall.html">perlmodinstall</a>

</p>
