<form action="[%= .self %]/diff">
<div style="clear: both; float: left">
<select name="v1" size="10">
[%if .perl_versions_1 %]
[%html_option .perl_versions_1 %]
[%else %]
[%html_option .perl_versions %]
[%/if %]
</select>

<select name="v2" size="10">
[%if .perl_versions_2 %]
[%html_option .perl_versions_2 %]
[%else %]
[%html_option .perl_versions %]
[%/if %]
</select>
</div>

<div style="float: left; margin-left: 3em;">

[%if .p.show %]
Show:<br/>
    <input id="c_removed" type="checkbox" [%if .p.show_removed %]checked="checked"[%/if %] name="removed" value="1" onclick="toggle('removed')" /><label for="c_removed">removed</label><br/>
    <input id="c_added" type="checkbox" [%if .p.show_added %]checked="checked"[%/if %] name="added" value="1" onclick="toggle('added')" /><label for="c_added">added</label><br/>
    <input id="c_version" type="checkbox" [%if .p.show_version %]checked="checked"[%/if %] name="version" value="1" onclick="toggle('version')" /><label for="c_version">version</label><br/>
    <input id="c_none" type="checkbox" [%if .p.show_none %]checked="checked"[%/if %] name="none" value="1" onclick="toggle('none')" /><label for="c_none">no difference</label><br/>
<input type="submit" value="Update" />
[%else %]
Show:<br/>
    <input id="c_removed" type="checkbox" checked="checked" name="removed" value="1" /><label for="c_removed">removed</label><br/>
    <input id="c_added" type="checkbox" checked="checked" name="added" value="1" /><label for="c_added">added</label><br/>
    <input id="c_version" type="checkbox" checked="checked" name="version" value="1" /><label for="c_version">version</label><br/>
    <input id="c_none" type="checkbox" name="none" value="1" /><label for="c_none">no difference</label><br/>
<input type="submit" value="Diff" />

[%/if %]

</div>
</form>

