<div class="functionbox functionbox_small function_center">
<h1>First Release</h1>

Find out if a perl module is in core and since when. (<a href="[%= .self %]/version">help</a>)
[%include version_form.html %]
</div>

<div class="functionbox functionbox_small function_center">
<h1>Module Versions</h1>
Show perl versions for module.
[%include mversion_form.html %]
</div>

<div class="functionbox function_center">
<h1>Perl Versions</h1>
Show all core modules for a perl version.
[%include pversion_form.html %]
</div>

<div class="functionbox function_center">
<h1>Diff</h1>
Compare two perl versions for added, removed or changed modules.
<br /><br />
[%include diff_form.html %]
</div>
