[%include head.html %]
<body>

<div id="header_holder">
    <div class="sub_holder">
        <h1>corelist - Find core modules in perl versions</h1>
<span class="corelist_info">
Powered by <a href="https://metacpan.org/module/Module::CoreList">Module::CoreList [%= .corelist_version %]</a>
</span>
<!--
        <div id="logo_holder">
            <a href="/"><img src="/" id="logo" alt="" height="65" align="right" /></a>
        </div>
-->
    </div>
</div>


<div id="nav">
    <div class="sub_holder">
<ul>
    <li [%if .selected.index %]class="selected"[%/if %]>
        <a href="[%= .self %]/">Home</a>
    </li>
    <li [%if .selected.version %]class="selected"[%/if %]>
        <a href="[%= .self %]/version">First Release</a>
    </li>
    <li [%if .selected.mversion %]class="selected"[%/if %]>
        <a href="[%= .self %]/mversion">Module Versions</a>
    </li>
    <li [%if .selected.pversion %]class="selected"[%/if %]>
        <a href="[%= .self %]/pversion">Perl Versions</a>
    </li>
    <li [%if .selected.diff %]class="selected"[%/if %]>
        <a href="[%= .self %]/diff">Diff</a>
    </li>
</ul>
    </div>
</div>

<div id="content">
[%switch .action %]
[%case index %]
[%include index2.html %]

[%case version %]
[%include version.html %]

[%case mversion %]
[%include mversion.html %]

[%case pversion %]
[%include pversion.html %]

[%case diff %]
<h3>Compare two perl versions for added, removed or changed modules.</h3>
[%include diff.html %]

[%/switch .action %]

</div>

<div id="info">
Sourcecode of this script on <a href="https://github.com/perlpunk/www-module-corelist-perl">github</a>
<br />
Developed and maintained by <a href="https://github.com/perlpunk">Tina M&uuml;ller</a>
</div>

</body>
</html>
