<div class="functionbox functionbox_small function_right">
<h1>First Release</h1>
Find out if a perl module is in core and since when.
[%include version_form.html %]
</div>
<div class="functionbox function_right">
<h1>Perl Versions</h1>
Show all core modules for a perl version.
[%include pversion_form.html %]
</div>

<div class="functionbox function_right">
<h1>Diff</h1>
Compare two perl versions for added, removed or changed modules.
<br /><br />
[%include diff_form.html %]
</div>




<h3>Show perl versions for module.</h3>
[%include mversion_form.html %]

[%with .show_version %]
<b>[%= .p.module %]</b>
<br/>
<table class="modules">
    <tr>
        <th>Module Version</th>
        <th>Perl version</th>
        <th>Perl Release</th>
    </tr>
[%loop versions %]
    <tr>
    [%if vers %]
    <td>[%= mvers %]</td>
    <td><tt><a href="[%= .self %]/pversion?perl_version=[%= vers escape=url %]">[%= formatted %]</a></tt></td>

    [%else %]
    <td></td>
    <td><i>not in core</i>
    [%/if vers %]
<td>[%= date %]</td>
</tr>
[%/loop versions %]
</table>

[%/with .show_version %]
