
<h3>Show all module and perl versions for a module.</h3>
<p class="usage">
Enter the full name (case sensitive) of the module and get a list of perl versions and the module version.
</p>
[%include mversion_form.html %]

<div style="float: left; clear: left">
[%with .show_version %]
<b><a href="https://metacpan.org/module/[%= .p.module %]">[%= .p.module %]</a></b>
<br/>
<table class="modules">
    <tr>
        <th>Module Version</th>
        <th>Perl version</th>
        <th>Perl Release</th>
    </tr>
[%loop versions %]
    <tr>
    [%if vers %]
    <td>[%= mvers %]</td>
    <td><tt><a href="[%= .self %]/pversion?perl_version=[%= vers escape=url %]">[%= formatted %]</a></tt></td>

    [%else %]
    <td></td>
    <td><i>not in core</i>
    [%/if vers %]
<td>[%= date %]</td>
</tr>
[%/loop versions %]
</table>

[%/with .show_version %]
</div>

[%if .p.module %]
<div class="externalsearch" style="float: left; margin-left: 3em;">
Search for this module in
<ul>
<li><a href="https://metacpan.org/search?q=[%= .p.module escape=URL %]">CPAN</a></li>
<li><a href="http://pkg-perl.alioth.debian.org/cpan2deb/#q=[%= .p.module escape=URL %]">Debian</a></li>
<li><a href="http://code.activestate.com/ppm/search:[%= .p.module escape=URL %]/?tab=name">ActivePerl</a></li>
</ul>
</div>
[%/if .p.module %]
