<h3>Show all core modules for a perl version.</h3>
<div style="float: left;">
[%include pversion_form.html %]
</div>

<div style="margin-left: 4em; float: left;">
<b>[%= .p.perl_version_formatted %]</b>
[%with .show_version %]
<br/>
<table class="modules">
<tr>
	<th>Module</th>
	<th>Module Version</th>
	<th>Perl version</th>
</tr>
[%loop versions %]
<tr>                                                                                                                 
    <td><a href="[%= .self %]/mversion?module=[%= name escape=url %]">[%= name %]</a></td>
    [%if vers %]
    <td>[%= mvers %]</td>
    <td><tt><a href="[%= .self %]/pversion?perl_version=[%= vers escape=url %]">[%= formatted %]</a></tt></td>
    [%else %]
    <td></td>
    <td><i>not in core</i>
    [%/if vers %]
<td>[%= date %]</td>
</tr>
[%/loop versions %]
</table>

[%/with .show_version %]
</div>
