<form action="[%= .self %]/version" method="get">

<p>
Module: <input type="text" name="module" value="[%= .p.module %]" /><br /><br />
    <input class="button" type="submit" value="Show version" />
    <input class="button" type="submit" name="submit.fuzzy" value="Show version (fuzzy)" />
</p>
<p>
Sort by:
<input id="sort_n" type="radio" name="sort" value="n"  /><label for="sort_n">Module</label>
<input id="sort_v" type="radio" name="sort" value="v"  /><label for="sort_v">Version</label>
</p>
</form>
