<div class="functionbox functionbox_small function_right">
<h1>Module Versions</h1>
Show perl versions for module.
[%include mversion_form.html %]
</div>

<div class="functionbox function_right">
<h1>Perl Versions</h1>
Show all core modules for a perl version.
[%include pversion_form.html %]
</div>

<div class="functionbox function_right">
<h1>Diff</h1>
Compare two perl versions for added, removed or changed modules.
<br /><br />
[%include diff_form.html %]
</div>

<h3>Find out if a perl module is in core and since when.</h3>
[%include version_form.html %]

[%with .show_version %]
<table class="modules">                                                                                              
<tr><th>Module</th><th>Module Version</th><th>Perl version</th><th>Perl Release</th><th>removed</th></tr>
[%loop versions %]
<tr>
<td>
    [%if vers %]
    <a href="[%= .self %]/mversion?module=[%= name escape=url %]">[%= name %]</a></td>
    <td>[%= mvers %]</td>
    <td><tt><a href="[%= .self %]/pversion?perl_version=[%= vers escape=url %]">[%= formatted %]</a></tt>
    [%else %]
    [%= name %]</td>
    <td></td>
    <td><i>not in core</i>
    [%/if vers %]
</td>
<td>[%= date %]</td>
<td>[%= removed %]</td>
</tr>
[%/loop versions %]
</table>

[%/with .show_version %]


