[%include version_form.html %]

[%with .show_version %]
<table class="modules">                                                                                              
<tr><th>Module</th><th>Module Version</th><th>Perl version</th><th>Perl Release</th><th>removed</th></tr>
[%loop versions %]
<tr>
<td>
    [%if vers %]
    <a href="[%= .self %]/mversion?module=[%= name escape=url %]">[%= name %]</a></td>
    <td>[%= mvers %]</td>
    <td><tt><a href="[%= .self %]/pversion?perl_version=[%= vers escape=url %]">[%= vers %]</a></tt>
    [%else %]
    [%= name %]</td>
    <td></td>
    <td><i>not in core</i>
    [%/if vers %]
</td>
<td>[%= date %]</td>
<td>[%= removed %]</td>
</tr>
[%/loop versions %]
</table>

[%/with .show_version %]
